<h1>Listings index</h1>

<% if @listings.any? %>
	<% @listings.each do |listing| %>
		<%= link_to listing_path(listing) do %>
			<%= listings.title %><br><br>
		<% end %>
	<% end %>
<% else %>
	<p>No listings yet </p>
<% end %>

<%= link_to 'Create New Listing', new_listing_path %><br>
<%= link_to 'Home', root_path %>