<h1>Lists of accomodations</h1>
<%if @listings.any?%>
	<% @listings.each do |listing|%>
		<%= link_to listing_path(listing) do%>
		<%= listing.title %>
		<%end%><br>
	<%end%>
<%else%>
	<p>No listings found.</p>
<%end%><br>

<%= link_to 'Create new listing', new_listing_path(@listings)%>